.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    width: 100%;
    position: static;
    margin-top: 0%;
}

form {
    max-width: 960px;
}

li {
    display: inline;
    list-style-type: none;
    color: #777777;
    text-align: center;
    padding: 20px;

}

.header {
    font-family: 'Abril Fatface', 'Georgia', Times, 'Times New Roman', serif;
    background-color: #4aaaa5;
    text-align: center;
    color: white;
    padding: 20px;
    margin-bottom: 0px;
    font-size: x-large;
}

.header2 {
    color: #4aaaa5;
    font-family: 'Lobster Two', 'Times New Roman', Times, serif;
    border-bottom: 1px solid thistle;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

ul {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: small;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;

}

.container {
    border: 1px solid #dddddd;
    background-color: #ffffff;
    padding: 10px 25px;
    padding-bottom: 25px;
    max-width: 960px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.row {
    display: flex;
    justify-content: center;
}

.portfolio {
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
  }

.portfolio:last-child{
    margin-right: 0px;
}

.portfolio-title {
    position: absolute;
    top: 75%;
    z-index: 1;
    background-color: #4aaaa5;
    color: white;
    padding: 5px 5px;
    text-align: center;
    width: auto;
    right: 0px;
    left: 0px;
  }

img.portfolio-pic {
    height: 100%;
    width: 100%;
    margin: auto;
}

body {
    width: 100%;
    margin: auto;
    background-image: url('../images/spikes.png');
}

contact {
    display: flex;
    flex-direction: row;
}


footer {
    background-color: #666666;
    text-align: center;
    color: white;
    width: 100%;
    border-top: 5px solid #4aaaa5;
    right: 0px;
    font-size: 25%;
    padding-top: 15px;
    position: fixed;
    bottom: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

img.FloatLeft {
    float: left;
    margin: 5px;
}

img.Pic {
    height: 20%;
    width: 20%;
    padding-right: 15px;
    padding-bottom: 15px;
}

.box { 
    padding: 50 50px; 
    border: 1px solid #777777; 
    box-sizing: border-box; 
    margin-top: 2px; 
    margin-bottom: 16px;
    max-width: 550px;
}

#message {
    max-width: auto;
    padding-bottom: 140px;
}

input {
    margin-top: 5px;
    margin-bottom: 15px;
    width: 960px;
    
}

input.submit {
    background-color: #4aaaa5;
    border: none;
    color: white;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    width: auto;
    padding: 5px 25px;
}

  @media screen and (max-width: 980px){
    .container {
    max-width: 800px;
  }
  input {
      max-width: 800px;
  }
  }
  
  @media screen and (max-width: 768px){
    .container {
      max-width: 650px;
    }
    input {
        max-width: 650px;
    }
    }
  
  @media screen and (max-width: 640px){
    
    .header{
      display: block;
      width: 100%;
      margin-top: 0%;
      position: static;
    }
    .topnav{
      display: block;
      text-align: center;
      padding-bottom: 5px;
    }
    .container {
      width: 450px;
    }
    input {
        max-width: 450px;
    }
    .row {
        display: block;
    }
    .portfolio {
        margin-right: 0px;
    }
    }