@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

body {
  overflow-y: scroll;
  overflow-x: hidden;
}
.site-main {
  font-family: 'Lato', 'Montserrat', sans-serif;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));}

.side-nav {
  background-color: lavender;
}

#header nav {
	position: relative;
	height: 100vh;
	z-index: 0;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: left 0.5s ease;
}

#header .site-title .navbar-brand {
	letter-spacing: 2px;
	color: white;
}

#header .nav-link {
	margin: 0.7rem 1rem;
	border-bottom: 1px solid dimgray;
	text-transform: uppercase;
}

#header .nav-link:hover {
	color: white !important;
}

.toggle-button {
	background: white;
	color: var(--color-black);
	position: fixed;
	top: 25px;
	right: 20px;
	border: none;
	z-index: 1;
}

.toggle-left {
	left: 0 !important;
	width: 1000px !important;
}

#footer form .row .col input[type="text"],
#footer form .row .col input[type="email"],
#footer form textarea {
	border-bottom: 1px solid gray;
	padding: 1.5rem 1rem;
}

div .row .pb-4 {
	border-radius: 5px;
	background-color: white;
	margin: 5px;
	padding: 25px;
	filter: drop-shadow(2px 2px 5px rgb(124, 124, 124));
}

.app-header {
	font-size: large;
	text-align: center;
}

.app-text {
	text-align: center;
}

.cli {
	margin-top: 35px;
}

.pb-4 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media screen and (min-width: 768px) {
	.toggle-button {
		display: none;
	}
}

/* #site-main */
