*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Custom root properties */
:root {
	--ff-main: "Lato", sans-serif;
	--ff-header: "Source Serif Pro", Serif;

  --fw-reg: 400;
	--fw-bold: 600;
	--fw-black: 900;

	--color-light: white;
	--color-dark: #303030;
	--color-accent: #D9AFD9;

	--fs-h1: 3rem;
	--fs-h2: 2.25rem;
	--fs-h3: 1.25rem;
  --fs-body: 1rem;
  
  --shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
            0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 600px) {
	:root {
		--fs-h1: 4.5rem;
		--fs-h2: 3.75rem;
		--fs-h3: 1.5rem;
		--fs-body: 1.125rem;
	}
}

/* General styles */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-light);
  color: var(--color-dark);
  margin: 0;
  font-family: var(--ff-main);
  font-size: var(--fs-body);
  line-height: 1.6;
  overflow-x: hidden;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

:focus {
  outline: 3px solid var(--color-accent);
  outline-offset: 3px;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: .5em 2.5em;
  background: var(--color-accent);
  color: var(--color-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/* Typography */
h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }

h2 { 
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
}

h3 { 
  font-size: var(--fs-h3);
  text-transform: capitalize; 
}

.section-title {
  margin-bottom: .25em;
}

.title-intro {
  font-weight: var(--fw-reg);
}

.title-intro strong {
  display: block;
  font-weight: var(--fw-black);
}

.subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.subtitle-intro,
.subtitle-about {
  background: var(--color-accent);
  font-family: var(--ff-header);
  margin-bottom: 1em;
  padding: .25em 1em;
}

.subtitle-work {
  color: var(--color-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  max-width: 100px;
}

.nav { 
  position: fixed;
  background: var(--color-dark);
  color: var(--color-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.nav-toggle {
  padding: .5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.nav-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--color-accent);
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--color-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

/* Intro section */
.intro {
  position: relative;
}

.my-pic {
  box-shadow: var(--shadow);
}


@media (min-width: 970px) {
  .intro {
      display: grid;
      text-align: center;
      width: min-content;
      margin: 0 auto;
      grid-column-gap: 1em;
      grid-template-areas: 
          "img title"
          "img subtitle";
      grid-template-columns: min-content max-content;
  }
  
  .my-pic {
      grid-area: img;
      min-width: 300px;
      position: relative;
      z-index: 2;
      margin: 0;
  }    
  
  .subtitle-intro {
    font-family: var(--ff-header);
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }

}

/* My services section */
.my-services {
  background-color: var(--color-dark);
  background-image: url('../assets/images/office-pic.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  color: var(--color-light);
  text-align: center;
}

.title-services {
  color: var(--color-accent);
  position: relative;
}

.title-services::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: .5em auto 1em;
  background: currentColor;
  opacity: .5;
}

.services {
  margin-bottom: 4em;
}

.service {
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 970px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service + .service {
    margin-left: 2.3em;
  }
}

/* About me section */
.about-me {
  background-color: var(--color-light);
  background-image: url('../assets/images/gradient.jpg');
  background-size: cover;
  width: 100%;
}

.about-container {
  max-width: 1000px;
  margin: 0 auto;
}

.subtitle-about {
  position: relative;
  width: calc(100% + 4em);
  left: -2em;
  padding-left: 2em;
  padding-right: calc(200px + 4em);
}

/* My work section */
.work {
  background-color: var(--color-dark);
  color: var(--color-light);
  text-align: center;
}

.portfolio {
  margin: 0 auto;
}

.portfolio-item {
  margin-bottom: 4em;
}

.portfolio-img {
  margin: 0 auto;
  margin-bottom: 1em;
  width: 800px;
}

/* Footer */

.footer {
  background: #111;
  color: var(--color-accent);
  text-align: center;
  padding: 2.5em 0;
}

.footer a {
  color: var(--color-accent);
  text-decoration: none;
}

.footer-link {
  font-weight: var(--fw-bold);
}

.footer-link:hover,
.social-item:hover {
  opacity: .7;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-item {
  margin: 0 .5em;
}

.social-link {
  padding: .5em;
}