@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Rambla&family=Staatliches&display=swap'); 

body {
    margin: 0;
    padding: 0;
}

:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --font-staat: 'Staatliches', cursive;
    --font-oswald: 'Oswald', sans-serif;
    --font-ram: 'Rambla', sans-serif;

}

.font-staat { font: normal 400 18px var(--font-staat); }
.font-os { font: normal 300 18px var(--font-os); }
.font-ram { font: normal bold 18px var(--font-ram); }
.font-size-40 { font-size: 40px; }
.font-size-34 { font-size: 34px; }
.font-size-27 { font-size: 27px; }
.font-size-20 { font-size: 20px; }
.font-size-16 { font-size: 16px; }
.bgcolor-black { background-color: var(--color-black); }

#header nav{
    height: 100vh;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    transition: left .5s ease;
}

#header .site-title .navbar-brand {
    letter-spacing: 2px;
    color: var(--color-white);
}

#header .nav-link {
    margin: .7rem 1rem;
    border-bottom: 1px solid dimgray;
    text-transform: uppercase;
}

#header .nav-link:hover {
    color: var(--color-white) !important;
}

#header .toggle-button {
    background: none;
    color: var(--color-black);
    position: fixed;
    top: 25px;
    right: 20px;
    border: none;
    z-index: -1;
}

.toggle-left {
    left: 0 !important;
    width: 1000px !important;
}

.site-banner .banner-area .author {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.site-banner .banner-area .author-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: auto;
    background: url("./assets/images/mj.jpg") no-repeat;
    background-size: 100%;
    background-position: 40% 0;
}

#footer form .row .col input[type="text"],
#footer form .row .col input[type="email"],
#footer form textarea {
    border: none;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 1.5rem 1rem;
}

div .row .pb-4 {
  border-radius: 5px;
  background-color: white;
  margin: 5px;
  padding: 25px;
  filter: drop-shadow(2px 2px 5px rgb(124, 124, 124));
}

.app-header {
  font-size: large;
  text-align: center;
}

.app-text {
  text-align: center;
}

.cli {
  margin-top: 35px;
}

@media screen and (min-width: 768px) {
    .toggle-button {
        display: none;
    }
}

/* #site-main */
