@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap");

html,
body {
  margin: 0;
  display: grid;
  font-family: "Lato", sans-serif;
}

.navbar-toggler-icon {
  color: blue;
}

li {
  margin-top: 1em;
  text-align: center;
  list-style: none;
  height: 100px;
}

.site-main {
  display: grid;
  align-items: center;
  margin: auto;
	width: 75%;
  padding: 2em 4em;
}

.me {
  display: grid;
  justify-items: center;
}

.my-pic {
  width: 30%;
  display: grid;
  justify-items: center;
  clip-path: circle(40% at 50% 45%);
}


.app-header {
	font-size: large;
	text-align: center;
}

.app-text {
	text-align: center;
}

.cli {
	margin-top: 35px;
}

.pb-4 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

