@import url("https://fonts.googleapis.com/css2?family=Lato&family=Source+Serif+Pro:wght@600;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom root properties */
:root {
  --ff-main: 'Lato', sans-serif;
  --ff-header: 'Source Serif Pro', Serif;

  --fw-bold: 600;
  --fw-black: 900;

  --txt-light: white;
  --txt-dark: #303030;
  --txt-accent: #ffa282;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

html,
body {
	margin: 0;
	display: grid;
  font-family: "Lato", sans-serif;
}

.hamburger {
	color: blue;
}

li {
	margin-top: 1em;
	text-align: center;
	list-style: none;
	height: 100px;
}

.site-main {
	display: grid;
	align-items: center;
	margin: 0 auto;
	width: 100%;
	padding: 2em 8em;
}

.site-banner {
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  padding: 10em;
  margin: auto;
}

.header-text h1 {
  font-family: 'Montserrat', sans-serif;
  color: #2b1630;
  text-align: center;
}


.about-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
}

.wrapper {
	margin: 0 auto;
	padding: 1em;
}

.my-pic {
	max-width: 65%;
	display: block;
	clip-path: circle(40% at 50% 45%);
}

.app-header {
	font-size: large;
	text-align: center;
}

.app-text {
	text-align: center;
}

.cli {
	margin-top: 35px;
}

.pb-4 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
