*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Custom root properties */
:root {
	--ff-main: "Lato", sans-serif;
	--ff-header: "Source Serif Pro", Serif;

  --fw-reg: 400;
	--fw-bold: 600;
	--fw-black: 900;

	--color-light: white;
	--color-dark: #303030;
	--color-accent: #ffa282;

	--fs-h1: 3rem;
	--fs-h2: 2.25rem;
	--fs-h3: 1.25rem;
  --fs-body: 1rem;
  
  --shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
            0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 600px) {
	:root {
		--fs-h1: 4.5rem;
		--fs-h2: 3.75rem;
		--fs-h3: 1.5rem;
		--fs-body: 1.125rem;
	}
}

/* General styles */
body {
  background: var(--color-light);
  color: var(--color-dark);
  margin: 0;
  font-family: var(--ff-main);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

/* Typography */
h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }

h2 { 
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
}

h3 { 
  font-size: var(--fs-h3);
  text-transform: capitalize; 
}

.section-title {
  margin-bottom: .25em;
}

.title-intro {
  font-weight: var(--fw-reg);
}

.title-intro strong {
  display: block;
  font-weight: var(--fw-black);
}

.subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.subtitle-intro,
.subtitle-about {
  background: var(--color-accent);
  font-family: var(--ff-header);
  margin-bottom: 1em;
  padding: .25em 1em;
}

/* Header */
.nav { 
  display: none;
}

/* Intro section */
.intro {
  position: relative;
}

.my-pic {
  box-shadow: var(--shadow);
}


@media (min-width: 970px) {
  .intro {
      display: grid;
      text-align: center;
      width: min-content;
      margin: 0 auto;
      grid-column-gap: 1em;
      grid-template-areas: 
          "img title"
          "img subtitle";
      grid-template-columns: min-content max-content;
  }
  
  .my-pic {
      grid-area: img;
      min-width: 300px;
      position: relative;
      z-index: 2;
      margin: 0;
  }    
  
  .subtitle-intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }

}

/* My services section */
.my-services {
  background-color: var(--color-dark);
  background-image: url('../assets/images/office-pic.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  color: var(--color-light);
  text-align: center;
}

.title-services {
  color: var(--color-accent);
  position: relative;
}

.title-services::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: .5em auto 1em;
  background: currentColor;
  opacity: .5;
}

.service {
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 970px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
  }

  .service + .service {
    margin-left: 2.3em;
  }
}